<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/my_ic"
        android:label="@string/app_name"
        android:roundIcon="@drawable/my_ic_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:label="Note App"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity android:name=".ViewJobsActivity"
                  android:label="Notes"/>
        <activity android:name=".AddNoteActivity"
                  android:label="Add Note"/>
        <activity android:name=".DeleteNoteActivity"
                  android:label="Delete Note"/>



    </application>

</manifest>